section{

  

    .listContainer{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 15px;
        padding-left: 1rem;
        padding-right: 1rem;
        align-items: center;
        text-align: center;
        justify-content: center;

        .listItem{
            background-color: white;
            padding: 1rem;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 75px;
            min-width: 80px;

            img{
                position: absolute;
                top: 0%;
                right: 0%;
                width: 25px;
                cursor:pointer;

                &:hover{
                    width: 35px;
                    transition: 300ms;
                }
            }

            &.active{
                background-color: gray;
            }
        }
    }



}